.titlebar {
  height: 36px;
  background: #2a2a31;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  right: 0;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 100%;
  user-select: none;
  -webkit-user-select: none;
  shape-rendering: geometricPrecision;
  cursor: pointer;
}

.titlebar-button:hover {
  backdrop-filter: brightness(1.2);
}
.titlebar-button svg {
  fill: rgb(175, 175, 175);
}
.titlebar-button:hover svg {
  fill: white;
}